body {
  background-image: url(../../img/plantilla.jpg); }

header {
  grid-area: header;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center; }

main {
  padding: 10px; }

footer {
  padding: 10px; }

h1 {
  color: orangered; }

h2 {
  color: orangered;
  margin: 30px; }

h3 {
  color: orangered; }

.texto {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: justify;
  margin: 25px;
  color: black; }

thead {
  color: #444442; }

.colimagen {
  margin-left: auto;
  margin-right: auto; }

.imagenes {
  text-align: center; }

.efecto {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.hijo {
  width: 50px;
  height: 50px;
  background-color: #ff8278;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
  transition: all 2s ease-in-out;
  animation-name: mundo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s; }

.hijo:hover {
  width: 200px;
  scale: 2; }

@keyframes mundo {
  0% {
    width: 300px;
    background-color: #ff8278; }
  50% {
    width: 500px;
    background-color: #fc5b4f; }
  100% {
    width: 700px;
    background-color: orangered; } }

.flex-container {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap-reverse;
  display: flex;
  color: white; }

.flex-container ul li {
  background-color: orangered;
  padding: 5px;
  margin: 5px;
  width: 150px;
  display: flex;
  justify-content: center; }

.d-flex {
  padding: 50px;
  justify-content: left; }

.navbar navbar-expand-lg navbar-light bg-light {
  padding: 400px; }

.efecto {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.d-flex {
  padding: 50px;
  justify-content: left; }

.mb-3 {
  margin: 30px;
  width: 500px; }

.container {
  justify-content: center; }

.consejos {
  margin: 30px;
  padding: 50px; }
