.navbar navbar-expand-lg navbar-light bg-light {
    padding: 400px;
}


.efecto {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.d-flex {
    padding: 50px;
    justify-content: left;
}



.consejos {
    margin: 30px;
    padding: 50px;
}

table, th, td {
    border: 1px solid black;
    align-items: center;
  }

  #form-submit-auto {
      align-items: center;
      margin: 30px;
      width: 400px;
  }

