h1 {
    color: orangered;
}

h2 {
    color: orangered;
    margin: 30px;
}

h3 {
    color: orangered;
}

.texto {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    text-align: justify;
    margin: 25px;
    color: white;
    background-color: orangered;
}

thead {
    color: #444442;
}